*{
    padding: none;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.mechanic-img{
    background-color: aqua;
    width: 50%;
    height: 100%;
    display: inline-block;
}
.middle-section{
    background-color: blue;
    height: 100%;
    width: 35%;
    display: inline-block;
}
.media{
    background-color: blueviolet;
    height: 100%;
    width: 14%;
    display: inline-block;
}